# in backend

backend/node_modules

# in mobile


frontend/node_modules/*/
frontend/.expo/*
frontend/npm-debug.*
frontend/*.jks
frontend/*.p8
frontend/*.p12
frontend/*.key
frontend/*.mobileprovision
frontend/.orig.
frontend/web-build/
frontend/web-report/

# macOS
mobile/.DS_Store